@model int
@{
    ViewData["Title"] = "Choose Payment Type";
}

<link rel="stylesheet"  href="~/css/Payment/ChoosePaymentType.css" type="text/css"/>


<div class="ChoosePaymentType_MainDiv">

   

    <form method="post" class="MainForm">
        <h1>Choose A Payment Type</h1>

        <div class="ChoosePaymentType_MainDiv_PayPalDiv" onclick="document.getElementById('PayPalBtn').click();">
            <button style="display:none;" id="PayPalBtn" class="btn btn-primary" type="submit" asp-route-orderId="@Model" 
                        asp-route-paymentType="PayPalPay">Pay With PayPal</button>
        </div>

    </form>

</div>
