@model Ecommerce.ViewModels.GetShippingAddressVM

@{
    ViewData["Title"] = "GetShippingAddress";
}

<link rel="stylesheet" href="~/css/Payment/GetShippingAddress.css" type="text/css" />

<div class="GetShippingAddress-MainDiv">

    <div class="GetShippingAddress-MainDiv-Title">
        <h1>
            Checkout
        </h1>
        <a asp-controller="Product" asp-action="Index">
            <u>Back to shopping</u>
        </a>
    </div>

    <form class="GetShippingAddress-MainDiv-InputForm" method="post">
        <div class="GetShippingAddress-MainDiv-InputForm-Item">
            <input id="RealCountryIF" asp-for="Country" type="hidden" />
            <select class="InputTag" id="country">
                <option value="">Country</option>
            </select>
            <span id="CountrySpanId"></span>
        </div>
        <div id="FirstNameDiv" class="GetShippingAddress-MainDiv-InputForm-Item">
            <input asp-for="FirstName" class="InputTag" placeholder="First Name" />
            <span asp-validation-for="FirstName" ></span>
        </div>
        <div id="LastNameDiv" class="GetShippingAddress-MainDiv-InputForm-Item">
            <input asp-for="LastName" class="InputTag"  placeholder="Last Name" />
            <span asp-validation-for="LastName" ></span>
        </div>
        <div class="GetShippingAddress-MainDiv-InputForm-Item">
            <input asp-for="Address" class="InputTag" placeholder="Address" />
            <span asp-validation-for="Address" ></span>
        </div>
            
        <div id="CityDiv" class="GetShippingAddress-MainDiv-InputForm-Item">
            <input id="RealCityIF" asp-for="City" type="hidden" />
            <select id="city" class="InputTag">
                <option value=""  >City</option>
            </select>
            <span id="CitySpanId" class="text-danger"></span>
        </div>
        <div id="PostCodeDiv" class="GetShippingAddress-MainDiv-InputForm-Item">
            <input asp-for="PostCode" class="InputTag" placeholder="Post Code" />
            <span asp-validation-for="PostCode" ></span>
        </div>
        <div class="GetShippingAddress-MainDiv-InputForm-Item">
            <input asp-for="Email" class="InputTag" placeholder="Email" />
            <span asp-validation-for="Email" ></span>
        </div>

        <div id="NextBtnDiv" class="GetShippingAddress-MainDiv-InputForm-Item">
            <input id="RealSubmitFormButtonId" type="submit" style="display:none;" value="Submit" />
            <a id="SubmitFormButtonId" ><p>Next</p></a>
        </div>
    </form>

    <div class="GetShippingAddress-MainDiv-Delivery">
        <h3>Delivery</h3>
        <p>Standard-Free</p>
    </div>

</div>


@section Scripts{
    <script src="~/js/GetShippingAddress.js" type="text/javascript"></script>
    <partial name="_ValidationScriptsPartial"></partial>
}

