.IndexPage_MainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #eef3f4;
    color: rgb(32, 28, 56);
}

.promo_wrapper {
    height: 650px;
    width: 100%;
    background-color: #E0E3E8;

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

.promo_wrapper_info {
    padding-left: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
}

.promo_wrapper_info_p {
    font-size: 0.9rem;
}

.promo_wrapper_shopProducts_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    width: 50%;
    height: 2rem;
    border-width: 0.01rem;
    border-width: 2px;
    border-color: rgb(54, 54, 54);
}

.promo_wrapper_shopProducts_Button:hover{
    cursor:pointer;
}

#promo_wrapper_info_Title {
    font-weight: normal;
}

.promo_wrapper_Images {
    width: 60%;
    height: 100%;
    background-image: url('/Images/keyboard.png');
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}

.mainpage_info1 {
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    font-family: Segoe UI;
    color: rgb(32, 28, 56);
    width: 100%;
    opacity: 0.8;
}

.mainpage_info1 {
    font-weight: normal;

}

.mainpage_info2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
}

.Products {
    width: auto;
    display: flex;
    justify-content: center;
    column-gap: 65px;
    row-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 220px;
}

.Products_Product {
    width: 250px;
    height: 500px;
}

.AddToCartBtn {
    border:solid;
    text-align:center;
    padding:10px;
    border-width:thin;
}

.Products_Product_Image {
    height: 75%;
    background-position: center;
    background-size: cover;
}

.Products_Product_Info {
    height: 18%;
}

.Products_Product_Info_Price_Info {
    display: flex;
    column-gap: 10px;
}

.Products_Product_Info_Price_Info #CurrentPrice {
    color: rgb(190, 74, 24);
}

.SecondPromo_Wrapper {
    height: 550px;
    width:100%;
    background-color: #547665;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#ThirdPromo_Wrapper {
    background-color: #c6b9b6;
}

#ThirdPromo_Wrapper .SecondPromo_Wrapper_Image {
    background-image: url('/images/nigel-tadyanehondo.png');
}

.SecondPromo_Wrapper_Info {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SecondPromo_Wrapper_Image {
    height: 100%;
    width: 50%;
    background-image: url('/images/SecondPromoWrapperImage.png');
    background-position: center;
    background-size: cover;
}

.SecondPromo_Wrapper_Info_Content {
    width: 55%;
    height: 60%;
    color: white;
}

.SecondPromo_Wrapper_Info_Content h1 {
    margin-bottom: 20px;
    font-weight: normal;
}

.SecondPromo_Wrapper_Info_Content_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    width: 50%;
    height: 2rem;
    border-width: 0.01rem;
    border-width: 2px;
    border-color: white;
    margin-top:15px;
}

.SecondPromo_Wrapper_Info_Content_Button:hover{
    cursor:pointer;
}

.SecondPromo_Wrapper_Info_Content_Button a {
    color: white;
}

@media(max-width:1000px) {

    .promo_wrapper_info {
        margin-top:30px;
        width: 70%;
    }

    .mainpage_info1 {
        margin-top: 50px;
    }

    .promo_wrapper_Images {
        background-position:top;
    }

    .Products_Product {
        width: 180px;
        height: 520px;
    }

    .Products_Product_Image{
        height:60%;
    }

    .SecondPromo_Wrapper {
        margin-bottom: 650px;
    }

    .SecondPromo_Wrapper_Info {
        width: 100%;
    }

    #ThirdPromo_Wrapper .SecondPromo_Wrapper_Info {
        background-color: #c6b9b6;
    }

    .SecondPromo_Wrapper_Image {
        width: 100%;
    }

    .SecondPromo_Wrapper_Info_Content_Button {
        width: 60%;
    }

}

@media (max-width:430px) {

    .promo_wrapper_info {
        width:80%;
    }

    .Products {
        column-gap: 10px;
    }

    .Products_Product {
        width: 165px;
    }

    .promo_wrapper_Images {
        background-size:auto;
        width:100%;
        overflow:hidden;
    }

    .mainpage_info1{
        margin-top:250px;
    }

}