.ProductPage_MainDiv {
    width: 100%;
    height: 600px;
    padding-top:100px;

    display:flex    ;
    justify-content:center;
    align-content:center;
    flex-wrap:wrap;
}

.ProductPage_MainDiv_Product{
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    row-gap:20px;
}

.ProductPage_MainDiv_Product_LeftPart {
    width: 50%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.ProductPage_MainDiv_Product_LeftPart_MainImage{
    width:100%;
    height:80%;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
}

#LeftArrow{
    position:absolute;
    left:10%;
    top:50%;
}
#RightArrow {
    position: absolute;
    right:10%;
    top:50%;
}

#LeftArrow:hover, #RightArrow:hover{
    cursor:pointer;
}

.ProductPage_MainDiv_Product_LeftPart_OtherImages {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
}

.ProductPage_MainDiv_Product_LeftPart_OtherImages_Image {
    height:90%;
    width:100px;
    background-size:cover;
    background-position:center;
}

.ProductPage_MainDiv_Product_LeftPart_OtherImages_Image:hover {
    cursor:pointer;
}

.ProductPage_MainDiv_Product_RightPart {
    height: 100%;
    width: 50%;
}

.DiscountP {
    color: sandybrown;
    background-color: snow;
    text-align:center;
    width:70px;
    height:25px;
}

.ProductPage_MainDiv_Product_RightPart h1 {
    font-family: Tahoma;
    color: #0f2f29;
}

.ProductPage_MainDiv_Product_RightPart_Prices p{
    display: inline-block;
}

.NewPricePar{
    padding-right:10px;
    color:red;
}

.ProductPage_MainDiv_Product_RightPart h1, .ProductPage_MainDiv_Product_RightPart div {
    width: 100%;
    height: auto;
    padding-bottom:10px;
}

.ProductPage_MainDiv_Product_RightPart_RateStars{
    height:20px;
    color:saddlebrown;
}

.ProductPage_MainDiv_Product_RightPart_Details{
    border-bottom:solid;
    border-width:thin;
    margin-top:20px;

    color:#18404b;
    font-weight:bold;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.ProductPage_MainDiv_Product_RightPart_Details:hover{
    cursor:pointer;
}

.ProductPage_MainDiv_Product_RightPart_Details i{
    font-size:30px;
}

.ProductPage_MainDiv_Product_RightPart_ShippingAndHandling {
    margin-top: 10px;

    color:#18404b;
    font-weight:bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProductPage_MainDiv_Product_RightPart_ShippingAndHandling {
    cursor: pointer;
}

.ProductPage_MainDiv_Product_RightPart_ShippingAndHandling i{
    font-size:30px;
}

#QuantityHeader {
    color: #18404b;
}

.ProductPage_MainDiv_Product_RightPart_Payment{
    display:flex;
    justify-content:space-around;   
    align-items:center;

    margin-top:20px;
}

.ProductPage_MainDiv_Product_RightPart_Payment_Quantity {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30%;
    height:auto;
}
.ProductPage_MainDiv_Product_RightPart_Payment_Quantity div{
    width:15%;
}

#QuantityMinus {
    border: solid;
    border-width: 2px;
    border-color: #18404b;
    display:flex;
    justify-content:center;
    align-items:end;
}


#QuantityValue {
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    text-align: center;
    border-color: #18404b;
}

#QuantityPlus {
    border: solid;
    text-align: center;
    border-width: 2px;
    border-color: #18404b;
}

#QuantityMinus:hover,#QuantityPlus:hover{
    cursor:pointer;
}

.ProductPage_MainDiv_Product_RightPart_Payment_Buttons {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    row-gap:10px;
}

.BuyBtn {
    width: 51%;
    border: solid;
    text-align: center;
    padding: 10px;
    border-width: thin;
}

.AddToCartBtn {
    border: solid;
    text-align: center;
    padding: 10px;
    border-width: thin;
}

.BuyBtn:hover, .AddToCartBtn:hover{
    cursor:pointer;
}

@media(max-width:1000px) {
    .ProductPage_MainDiv {
        padding-bottom: 1100px;
        height: 1000px;
    }

    .ProductPage_MainDiv_Product_LeftPart {
        width: 100%;
        height: 500px;
    }

    .ProductPage_MainDiv_Product_RightPart{
        width:100%;

        padding-left:50px;
        padding-right:50px;
    }

    .ProductPage_MainDiv_Product_RightPart_Payment{
        flex-wrap:wrap;
    }

    .ProductPage_MainDiv_Product_LeftPart_OtherImages_Image {
        height: 100%;
    }

}

@media (max-width:420px) {

    .ProductPage_MainDiv {
        height: 800px;
        padding-bottom: 1200px;
    }


    .ProductPage_MainDiv_Product_RightPart {
        padding-left: 3px;
        padding-right: 3px;
    }

}